.project-section {
  /* background-color: #0a0a0a; */
  /* color: #00ffcc; */
  padding: 40px;
  text-align: center;
}

.project-title h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* 2 cards per row */
  gap: 20px;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  padding-bottom: 16px;
  /* margin-bottom: 20px; */
}

.project1 {
  /* background: #121212; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(62, 65, 64, 0.5);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

/* .project1:hover {
  transform: scale(1.05);
} */

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-detail {
  margin: 15px 0;
  font-size: 1rem;
}

.project-btn {
  background-color: #681405;
  color: #0a0a0a;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: 50%;
  background-color: orangered;
}

.project-btn:hover {
  background-color: #9b351c;
}

.btn-container {
  margin-top: 20px;
}

.show-more-btn {
  background-color: #b8360e;
  color: #0a0a0a;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: #7e2c07;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr; /* 1 card per row for small screens */
  }
}
