.Leads{
    margin:80px auto;
    position: relative;
    padding: 0 80px;
}
.leaders{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}
.next_btn , .back_btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: transformY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: black;
}
.back_btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
    width: 100%;
}
.slider ul{
    display: flex;
    width: 300%;
    /* height: 400px; */
    overflow-x:hidden ;
    transition: 0.5s;
    padding: 15px 0px;
    /* transform: translateX(-25%); */
}
.slider ul li{
    list-style: none;
    width: 33.33%;
    /* flex-shrink: 0; */
    /* font-weight: bold; */
    padding: 12px;
}
.slide{
    /* box-shadow: 0 0 20px #FF4500; */
    padding: 20px;
    border-radius: 10px;
    color: #0b0000;
    line-height: 1.4;
    background-color:#000000;
}
.slide img{
    width: 150px;
    border-radius:2px;
    margin-right: 10px;
    border: 2px solid rgb(85, 197, 85);
    /* align-items: center; */
}
.user-info{
    /* display: flex; */
    text-align: right;
    
}
.user-info h3{
    color: #ffffff;
}
.user-info span{


    color: #ffffff;
}
/* responsive */

@media (max-width:800px) {
    .Leads{
        padding: 0px 30px;
    }
    .next_btn , .back_btn{
        padding: 10px;
        width: 35px;
    }
    .user-info{
        
        align-items: center;
        margin-bottom: 20px;
        font-size: 15px;

    }
    .user-info h3{
        color: #FF4500;
        font-size: 12px;
    }
    .slide{
        padding: 10px;

    }
    .slide img{
        width: 90px;
        border: 3px solid orangered;
    }
    
}


@media (max-width:600px) {
    .Leads{
        padding: 0px 20px;
    }
    .next_btn , .back_btn{
        padding: 8px;
        width: 30px;
    }
    .user-info{
        margin-bottom: 15px;
        font-size: 12px;
        text-align: center;
    }
    .user-info h3{
        font-size: 14px;
        text-align: center;
    }
    .slide{
        padding: 8px;
    }
    .slide img{
        width: 80px;
        border: 3px solid orangered;
    }
    .slider ul{
        width: 900%; 
        transition: 0.5s ease;
    }
    .slider ul li{
        width: 100%; 
    }
}

@media (max-width:400px) {
   
    .Leads{
        padding: 0px 15px;
    }
    .next_btn , .back_btn{
        padding: 7px;
        width: 25px;
    }
    .user-info{
        font-size: 10px;
    }
    .user-info h3{
        font-size: 12px;
    }
    .slide img{
        width: 70px;
    }
}


