.footer {
  border-top: 1px solid #FF4500;
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .footer-section p {
    /* margin: 5px 0; */
    line-height: 1.5;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 9px 0;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px;
  }

.footer-section:hover{
    color: #FF4500;
    transition: 0.3s;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .footer-section p {
    margin: 5px 0;
    line-height: 1.5;
  } 
  
  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }

  .social-icons a:hover{
    color: #FF4500;
  }
  
  .footer-bottom {
    margin-top: 10px;
    border-top: 0.5px solid #FF4500;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }
    